node_modules
server/**/*.js
init-scripts/**/*.js
public/semantic/*
!public/semantic/dist
public/semantic/dist/*
!public/semantic/dist/semantic.min.css
!public/semantic/dist/semantic.min.js
public/dist
config/oauth.json