node_modules
api/**/*.js
init-scripts/**/*.js
server/**/*.js
util/*.js
public/semantic/*
!public/semantic/dist
public/semantic/dist/*
!public/semantic/dist/semantic.min.css
!public/semantic/dist/semantic.min.js
public/dist
config/oauth.json